accessible-pygments==0.0.4
alabaster==0.7.13
amqp==5.1.1
asgiref==3.7.2
Babel==2.12.1
Baker==1.3
beautifulsoup4==4.12.2
billiard==4.1.0
celery==5.3.4
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
crispy-bootstrap5==0.7
cron-descriptor==1.4.0
Django==4.2.5
django-celery-beat==2.5.0
django-crispy-forms==2.0
django-debug-toolbar==4.2.0
django-elasticsearch-dsl==8.0
django-elasticsearch-dsl-drf==0.22.5
django-filter==23.2
django-nine==0.2.7
django-redis==5.3.0
django-rosetta==0.9.9
django-timezone-field==6.0.1
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
docutils==0.19
drf-yasg==1.21.7
elastic-transport==8.4.1
elasticsearch==8.9.0
elasticsearch-dsl==8.9.0
environ==1.0
idna==3.4
imagesize==1.4.1
inflection==0.5.1
Jinja2==3.1.2
kombu==5.3.2
Markdown==3.4.4
MarkupSafe==2.1.3
packaging==23.1
pika==1.3.2
Pillow==10.0.0
polib==1.2.0
prompt-toolkit==3.0.39
psycopg2-binary==2.9.8
pydata-sphinx-theme==0.13.3
Pygments==2.16.1
PyJWT==1.7.1
python-crontab==3.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.0
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==6.2.1
sphinx-book-theme==1.0.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.17
vine==5.0.0
wcwidth==0.2.6
xmltodict==0.13.0
